.key {
    background-color: rgb(50, 50, 50);
    color: white;
    text-transform: uppercase;
    height: 36px;
    width: 24px;
    border: 1px black;
    border-radius: 5px;
    margin: 1px;
}

.key:hover {
    cursor: pointer;
    color: black;
    background-color: #e0e0e0;
}

.key:active {
    background-color: aliceblue;
}

.wide-key {
    background-color: rgb(50, 50, 50);
    color: white;
    text-transform: uppercase;
    height: 36px;
    width: 48px;
    border: 1px black;
    border-radius: 5px;
    margin: 1px;
}

.wide-key:hover {
    cursor: pointer;
    color: black;
    background-color: #e0e0e0;
}

.wide-key:active {
    background-color: aliceblue;
}

.ultra-thicc {
    background-color: rgb(50, 50, 50);
    color: white;
    text-transform: uppercase;
    height: 30px;
    width: 240px;
    border: 1px black;
    border-radius: 5px;
    margin: 1px;
}

.ultra-thicc:hover {
    cursor: pointer;
    color: black;
    background-color: #e0e0e0;
}

.ultra-thicc:active {
    background-color: aliceblue;
}

.kb-correct {
    background-color: darkgreen !important;
}

.kb-correct:hover {
    cursor: pointer;
    color: black;
    background-color: #e0e0e0 !important;
}

.kb-misplaced {
    background-color: rgb(194, 165, 0);
}

.kb-wrong {
    background-color: black;
}