.input-square {
    border: 2px solid black;
    border-radius: 0.5em;
    width: 2em;
    height: 2em;
    background-color: transparent;
    margin: 1px;
    line-height: 52px;
}
.input-space {
    width: 2em;
    height: 2em;
    background-color: transparent;
    margin: 1px;
}
.rotate-correct {
    transform: rotateY(360deg);
    background-color: darkgreen;
    animation: flip-correct 0.6s;
    animation-direction: alternate;
}

.rotate-misplaced {
    transform: rotateY(360deg);
    background-color: rgb(194, 165, 0);
    animation: flip-misplaced 0.6s;
    animation-direction: alternate;
}
.rotate-wrong {
    transform: rotateY(360deg);
    background-color: black;
    animation: flip-wrong 0.6s;
    animation-direction: alternate;
}

@keyframes flip-correct {
    0% {
        transform: rotateY(0);
        background-color: transparent;
    }
    100% {
        transform: rotateY(360);
        background-color: darkgreen;
    }
}

@keyframes flip-misplaced {
    0% {
        transform: rotateY(0);
        background-color: transparent;
    }
    100% {
        transform: rotateY(360);
        background-color: rgb(194, 165, 0);
    }
}

@keyframes flip-wrong {
    0% {
        transform: rotateY(0);
        background-color: transparent;
    }
    100% {
        transform: rotateY(360);
        background-color: black;
    }
}