.input-square {
    border: 2px solid black;
    border-radius: 0.5em;
    width: 2em;
    height: 2em;
    background-color: transparent;
    margin: 1px;
    margin-top: 10px;
}
.rotate-correct {
    transform: rotateY(180deg);
    background-color: lightgreen;
    animation: flip-correct 1s;
    animation-direction: alternate;
}

.rotate-misplaced {
    transform: rotateY(180deg);
    background-color: yellow;
    animation: flip-misplaced 1s;
    animation-direction: alternate;
}
.rotate-wrong {
    transform: rotateY(180deg);
    background-color: black;
    animation: flip-wrong 1s;
    animation-direction: alternate;
}

@keyframes flip-correct {
    0% {
        transform: rotateY(0);
        background-color: black;
    }
    100% {
        transform: rotateY(180);
        background-color: lightgreen;
    }
}

@keyframes flip-misplaced {
    0% {
        transform: rotateY(0);
        background-color: black;
    }
    100% {
        transform: rotateY(180);
        background-color: yellow;
    }
}

@keyframes flip-wrong {
    0% {
        transform: rotateY(0);
        background-color: black;
    }
    100% {
        transform: rotateY(180);
        background-color: black;
    }
}